.template {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    
    .cart_container {
        display: flex;        
        justify-content: space-between;
        gap: 25px;
        margin: 2rem 0;

        .cart_items {

        }

        .cart_subtotal {
            
        }
    }
}