.template {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;

    .breadcrumb {
        ul {
            display: flex;

            li {
                font-size: 14px;
                color: #0f0f0f;
                text-transform: capitalize;

                &:last-child {
                    font-weight: 600;
                }
                a {                        
                    &:hover {
                        text-decoration: underline;              
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
            
        }
    }
    .collection_header {        
        .collection_header_flex {
            display: flex;
            gap: 25px;
            margin: 2rem 0;

            .collection_info {
                flex: 1;

                .page_title {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin: 0;
                }      
                .page_description {
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }

            .collection_banner {
                flex: 1.5;
                span {
                    position: relative !important;
                    max-height: 250px;
                    
                    img {
                        position: relative !important;
                        width: 100% !important;
                        height: 100% !important;
                        max-height: 250px !important;
                    }
                }
            }
        }

    }

    .collection_main {
        padding-top: 3rem;

        .sorting_filter {            
            margin-bottom: 1rem;

            select {
                padding: 10px;
            }
        }

        .product_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            column-gap: 2rem;
            row-gap: 4rem;

            // .product_item {                
            //     cursor: pointer;       
                
            //     &:hover {                                           ;
            //         .product_title {
            //             border-bottom: 3px solid #000;
            //         }
                     
            //         .image {                            
            //             transition: all .3s ease;                        
            //             transform: scale(102%);
            //             opacity: .8;                               
            //         }
            //     }

            //     .image_wrapper {
            //         border: 1px solid #eee;
            //         background: #000;
            //         span {
            //             position: relative !important;                        
            //             .image {
            //                 position: relative !important;
            //                 width: 100% !important;
            //                 height: 100% !important;                        
            //             }
            //         }
            //     }
                

            //     .product_title {
            //         margin: 1rem 0 .5rem;
            //         font-weight: 500;
            //         font-size: 1.5rem;
            //         display: inline-block;
            //         border-bottom: 3px solid transparent;
            //     }

            //     .product_type_tags {
            //         margin: 0 0 0.5rem;
            //         span {
            //             text-transform: capitalize;

            //             &.tags {
            //                 &:last-child {
            //                     .comma {
            //                         display: none;
            //                     }
            //                 }
            //             }
                        
            //         }
            //     }
            //     .product_price {
            //         display: flex;
            //         gap: 2px;
                                            
            //         .dollar {
            //             font-size: 1rem;
            //             font-weight: 600;
            //         }
            //         .integer {
            //             font-size: 1.5rem;
            //             font-weight: 600;
            //         }
            //         .decimals {
            //             font-size: 1rem;
            //             font-weight: 600;
            //         }
            //         .currency {
            //             font-size: 1rem;
            //             font-weight: 400;
            //         }
            //     }
            // }
        }
    }
}