.template {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;

    .breadcrumb {
        ul {
            display: flex;

            li {
                font-size: 14px;
                color: #0f0f0f;
                text-transform: capitalize;

                &:last-child {
                    font-weight: 600;
                }
                a {                        
                    &:hover {
                        text-decoration: underline;              
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
            
        }
    }
    .collection_header {        
        .collection_header_flex {
            display: flex;
            gap: 25px;
            margin: 2rem 0;

            .collection_info {
                flex: 1;

                .page_title {
                    font-size: 2.5rem;
                    font-weight: 600;
                    margin: 0;
                }      
                .page_description {
                    font-size: 1rem;
                    line-height: 1.5;
                }
            }

            .collection_banner {
                flex: 1.5;
                span {
                    position: relative !important;
                    max-height: 250px;
                    
                    img {
                        position: relative !important;
                        width: 100% !important;
                        height: 100% !important;
                        max-height: 250px !important;
                    }
                }
            }
        }

    }

    .collection_main {
        padding-top: 3rem;

        .sorting_filter {            
            margin-bottom: 1rem;

            select {
                padding: 10px;
            }
        }

        .product_list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: space-between;
            column-gap: 2rem;
            row-gap: 4rem;       
        }
    }
}