.header {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2rem;

    .header_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-size: 18px;
        }

        .home_link {
            font-weight: 500;
            margin: 0;
            flex: 1;
            
            a {
                font-size: 35px;
            }
        }

        .collection_nav {
            flex: 1;

            .collection_ul {
                display: flex;
                align-items: center;      
                justify-content: center;          
                gap: 20px;

                .nested_nav {
                    display: none;                    
                }

                li {
                    padding: 25px 10px;
                    a {
                        border-bottom: 3px solid transparent;        
                        padding-bottom: 22px;                

                        &:hover {
                            border-bottom: 3px solid #000;
                        }
                    }                    
                }
            }
        }

        .right_nav {
            flex: 1;

            .right_ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;
            }
        }
    }
}