.banner_slider {
    height: calc(80vh - 100px);
    background-color: #fffcf5;
    overflow: hidden;
    position: relative;    

    .arrowContainer {
        position: absolute;
        width: 10%;
        height: 15%;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        z-index: 2;
        width: 3rem;
        height: 3rem;

        svg {
            cursor: pointer;
            color: #000;
            width: 100%;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            opacity: .6;
            transition: all .2s ease;
            margin: 0;

            &:hover {
                opacity: 1;
            }
        }
    }

    .slider_index {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
        display: flex;
        gap: .3rem;

        .indicator {                     
            input {
                width: 1rem;
                height: 1rem;
                border: 1px solid #444;
                border-radius: 50%;                
                cursor: pointer;   
            }     
            .current {
                background-color: #444;
            }       
        }
    }

    .wrapper {
        height: 100%;
        display: flex;
        transition: all .5s ease-in-out;  

        .imgContainer {
            width: 100vw;
            height: 100%;
            position: relative;
            display: flex;
            
            span {
                position: relative !important;
                flex: 5;

                .image {
                    position: relative !important;
                    width: 100% !important;
                }

            }
            
            .right_grid {
                display: flex;
                flex-flow: column;       
                flex: 2;         
                justify-content: space-between;
                align-items: center;
                background-color: #eee;        
                
                .banner_grid {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    height: 50%;
                    width: 100%;
                    &:first-child {
                        background-color: steelblue;
                        color: #fff;

                        .link_wrapper {                            
                            .see_detail {    
                                border: 1px solid #fff;
                                color: #fff;

                                &:hover {
                                    background-color: #fff;
                                    color: #000;
                                }
                            }
                        }
                    }
                }
            
                .banner_grid_wrapper {
                    margin: 0 auto;       
                    width: 70%;                    
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    

                    .product_title {
                        font-size: 2.5rem;
                        font-weight: 500;
                        margin: 0;
                    }
                    
                    .product_tags {
                        .product_tag {
                            text-transform: capitalize;
                            &:last-child {
                                .comma {
                                    display: none;
                                }
                            }
                        }
                    }

                    .product_price {
                        display: flex;
                        gap: 2px;      
                        span {
                            flex: none;
                        }          
                                                
                        .dollar { font-size: 1rem; font-weight: 600; }
                        .integer { font-size: 1.5rem; font-weight: 600; }
                        .decimals { font-size: 1rem; font-weight: 600; }
                        .currency { font-size: 1rem; font-weight: 400; }

                        .compared_price { 
                            margin-left: .2rem;
                            font-size: 1rem; 
                            font-weight: 400; 
                            color: #f5626e; 
                            text-decoration: line-through;
                        }
                    }

                    .link_wrapper {
                        margin-top: 1rem;
                        .see_detail {             
                            background: none;           
                            border: 1px solid #000;                                                                    
                            padding: 15px;
                            margin-top: .5rem;
                            font-size: 1.5rem;
                            font-weight: 400;
                            cursor: pointer;
                            transition: all .2s ease;
    
                            &:hover {
                                background: #444;
                                color: #fff;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .banner_slider {
        height: 50vh;
        .wrapper {
            .imgContainer {
                flex-flow: column;
                span {
                    flex: 1;
                }

                .right_grid {
                    flex: 1;
                    flex-flow: row;   

                    .banner_grid {
                        height: 100%;
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .banner_slider {
        height: 60vh;
        
        .arrowContainer {
            cursor: none;
            width: 1.5rem;
            height: 1.5rem;
    
            svg {
                cursor: none;
                height: 1.5rem;
                opacity: .6;
            }
        }

        .wrapper {
            .imgContainer {
                flex-flow: column;
                span {
                    flex: 1;
                }

                .right_grid {
                    flex: 1;
                    flex-flow: row;       
                    
                    .banner_grid {
                        height: 100%;
                        width: 50%;

                        .banner_grid_wrapper {
                            width: 100%;
                            padding: 1rem;

                            .product_title {
                                font-size: 1.5rem;
                            }
                            .product_tag {
                                font-size: .8rem;
                            }

                            .product_price {   
                                .dollar { font-size: .8rem; font-weight: 600; }
                                .integer { font-size: 1rem; font-weight: 600; }
                                .decimals { font-size: .8rem; font-weight: 600; }
                                .currency { font-size: .8rem; font-weight: 400; }
        
                                .compared_price { 
                                    margin-left: .2rem;
                                    font-size: .8rem; 
                                    font-weight: 400; 
                                    color: #f5626e; 
                                    text-decoration: line-through;
                                }
                            }

                            .link_wrapper {
                                .see_detail {                                                                            
                                    padding: .5rem;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    cursor: none;
                                    transition: all .2s ease;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}