.template {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    .breadcrumb {
        ul {
            display: flex;

            li {
                font-size: 14px;
                color: #0f0f0f;
                text-transform: capitalize;

                &:last-child {
                    font-weight: 600;
                }
                a {                        
                    &:hover {
                        text-decoration: underline;              
                    }
                }
                span {
                    padding: 0 5px;
                }
            }
        }            
    }
    .product_main {    
        margin: 2rem 0;
        display: flex;
        justify-content: space-between;
        gap: 25px;

        .product_images_container {
            flex: 1.7;
            height: 100%;

            span {
                position: relative !important;
                img {
                    position: relative !important;
                    width: 100% !important;
                    height: 100% !important;
                }
            }

            .thumbnail_container {
                .imageWrapper {
                    border: 1.5rem solid #000;

                    &:first-child {
                        margin-bottom: 4rem;
                        border: 1px solid #ccc;
                    }
                }
            }
        }

        .product_info_container {            
            flex: 1;
            position: sticky;
            align-self: flex-start;
            top: calc(75px + 2rem);

            .product_vendor {
                font-weight: 500;
            }
            .product_title {
                font-size: 2.5rem;
                font-weight: 600;
                margin: 0 0 .5rem;
            }                  
            .product_tags {
                margin: 0 0 1rem;
                .tag {
                    text-transform: capitalize;
                    &:last-child {
                        .comma {
                            display: none;
                        }
                    }
                }
            }
            
            .product_price {
                display: flex;
                gap: 2px;
                                        
                .dollar {
                    font-size: 1rem;
                    font-weight: 600;
                }
                .integer {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .decimals {
                    font-size: 1rem;
                    font-weight: 600;
                }
                .currency {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

            .product_description {
                font-size: 1rem;
                line-height: 1.5;
                margin: 1rem 0 0 0;
            }

            .qty_and_cart {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .input_quantity_wrapper {
                margin-top: 2rem;
                .input_label {
                    display: block;
                }

                .input_container {                    
                    .input_quantity_box {
                        display: flex;                        
                        align-items: center;                                                
                        border: 1px solid #000;
                        width: fit-content;          
                        margin-top: 5px; 

                        .quantity_button {
                            background: none;
                            border: none;
                            cursor: pointer;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 3rem;
                            height: 3rem;
                            transition: all .2s ease;

                            &:hover {
                                background: #444;
                                color: #fff;
                            }

                            svg {
                                width: 1rem;
                                height: 1rem;
                            }
                        }

                        .quantity_input {
                            background: none;
                            border: none;
                            text-align: center;    
                            font-size: 1rem;                        
                            width: 3rem;

                            &::-webkit-outer-spin-button,
                            &::-webkit-inner-spin-button {
                                -webkit-appearance: none;
                                margin: 0;
                            }
                        }
                    }
                    
                }
            }

            .cart_checkout {
                margin-top: 2rem;

                .button_wrapper {
                    button {
                        background: none;
                        border: 1px solid #000;                        
                        width: 15rem;
                        padding: 15px 0;
                        margin-top: .5rem;
                        cursor: pointer;
                        transition: all .2s ease;

                        &:hover {
                            background: #444;
                            color: #fff;
                        }
                    }
                }
            }

            .detail_info {        
                margin-top: 2rem;

                details {                        
                    &:first-child {
                        border-top: 1px solid #aaa;                        
                    }                                 
                    border-bottom: 1px solid #aaa;
                    padding: 15px;
                    list-style: none;
                    

                    summary {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;                        

                        .key {
                            text-transform: capitalize;
                            color: #333333;
                            font-weight: 500;
                            font-size: 18px;
                        }

                        .indicator {
                            font-size: 1.5rem;
                            font-weight: 400;      
                            transition: all .2s ease;                      
                        }
                    }
                    .value {                        
                        margin-top: 15px;
                        list-style: inside;
                        color: #333333;
                        font-weight: 400;
                        padding-left: 1rem;
                    }
                }                         
            }
        }
        
    }
}
