.product_item {                
    cursor: pointer;       
    
    &:hover {                                           
        .product_title {
            border-bottom: 3px solid #000;
        }
         
        .image {                            
            transition: all .3s ease;                        
            transform: scale(102%);
            opacity: .9;                               
        }
    }

    .image_wrapper {
        border: 1px solid #eee;
        background: #000;
        span {
            position: relative !important;                        
            .image {
                position: relative !important;
                width: 100% !important;
                height: 100% !important;                        
            }
        }
    }
    

    .product_title {
        margin: 1rem .5rem .5rem;
        font-weight: 500;
        font-size: 1.5rem;
        display: inline-block;
        border-bottom: 3px solid transparent;
    }

    .product_type_tags {
        margin: 0 .5rem 0.5rem;
        font-size: .9rem;
        span {
            text-transform: capitalize;

            &.tags {
                &:last-child {
                    .comma {
                        display: none;
                    }
                }
            }
            
        }
    }
    .product_price {
        display: flex;
        gap: 2px;
        margin-left: .5rem;
                                
        .dollar {
            font-size: 1rem;
            font-weight: 600;
        }
        .integer {
            font-size: 1.5rem;
            font-weight: 600;
        }
        .decimals {
            font-size: 1rem;
            font-weight: 600;
        }
        .currency {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}